In [2]:
import pandas as pd
import numpy as np
import math as m

In [3]:
data=pd.read_csv('initial st.csv')

In [4]:
test=data.copy()

In [5]:
#house clearning 
    #need to run this first so that other cleaning with carpet or office can be replaced later, especially under cleaning service

test.loc[test.name.str.contains('house cleaning', case=False),'New_id']=522
test.loc[test.name.str.contains('weekly cleaning', case=False),'New_id']=522
test.loc[test.name.str.contains('cleaning service', case=False),'New_id']=522

In [6]:
# aircon installation 

test.loc[test.name.str.contains( 'aircond installation', case=False),'New_id']=34
test.loc[test.name.str.contains( 'aircon installation', case=False),'New_id']=34
test.loc[test.name.str.contains( 'aircon' and 'install', case=False),'New_id']=34
test.loc[test.name.str.contains('pemasangan' and 'dingin', case=False),"New_id"]=34
test.loc[test.name.str.contains('penyaman udara', case=False),"New_id"]=34

In [7]:
# aircon service

test.loc[test.name.str.contains('air cond chemical', case=False),"New_id"]=508
test.loc[test.name.str.contains('aircond servicing', case=False),"New_id"]=508
test.loc[test.name.str.contains('air cond servicing', case=False),"New_id"]=508
test.loc[test.name.str.contains('aircon servicing', case=False),"New_id"]=508
test.loc[test.name.str.contains('servis aircond', case=False),"New_id"]=508
test.loc[test.name.str.contains('aircon servicing', case=False),"New_id"]=508
test.loc[test.name.str.contains('chemical service', case=False),"New_id"]=508

In [8]:
# group outing 

test.loc[test.name.str.contains( 'group outing', case=False),'New_id']=670

In [9]:
# pest control
#     office have to create last. needs to overwrite this

test.loc[test.name.str.contains( 'pest control', case=False),'New_id']=628

In [10]:
# moving 

test.loc[test.name.str.contains( 'local moving', case=False),'New_id']=403
test.loc[test.name.str.contains('lokal', case=False),'New_id']=403
test.loc[test.name.str.contains('pemindahan', case=False),'New_id']=403
test.loc[test.name.str.contains('moving', case=False),'New_id']=403
test.loc[test.name.str.contains('klang valley', case=False),'New_id']=403

In [11]:
# all photography and videography
#     has to be before wedding photography

test.loc[test.name.str.contains( 'videography', case=False),'New_id']=55
test.loc[test.name.str.contains( 'photography', case=False),'New_id']=51
test.loc[test.name.str.contains( 'photobooth', case=False),'New_id']=254

In [12]:
# # wedding photography and videography

# test.loc[test.name.str.contains( 'wedding photography', case=False),'New_id']=48
# test.loc[test.name.str.contains( 'wedding videography', case=False),'New_id']=53

In [13]:
# make up

test.loc[test.name.str.contains( 'makeup', case=False),'New_id']=87
test.loc[test.name.str.contains( 'hair & makeup', case=False),'New_id']=272
test.loc[test.name.str.contains( ' hair styling', case=False),'New_id']=77

In [14]:
#  carpet cleaning

test.loc[test.name.str.contains( 'carpet cleaning', case=False),'New_id']=519
test.loc[test.name.str.contains('karpet', case=False),"New_id"]=519

In [15]:
# car seat and sofa cleaning

test.loc[test.name.str.contains( 'car seat cleaning', case=False),'New_id']=518
test.loc[test.name.str.contains( 'sofa', case=False),'New_id']=515

In [16]:
# mattress cleaning

test.loc[test.name.str.contains( 'mattress', case=False),'New_id']=517

In [17]:
# catering

test.loc[test.name.str.contains( 'catering', case=False),'New_id']=379

In [18]:
# interior design

test.loc[test.name.str.contains( 'interior design', case=False),'New_id']=44

In [19]:
# lock installation

test.loc[test.name.str.contains( 'lock installation', case=False),'New_id']=153
test.loc[test.name.str.contains( 'locksmith', case=False),'New_id']=26
test.loc[test.name.str.contains( 'smart lock', case=False),'New_id']=645

In [20]:
# pet grooming and pet care

test.loc[test.name.str.contains( 'grooming', case=False),'New_id']=219
test.loc[test.name.str.contains( 'pet care', case=False),'New_id']=189

In [21]:
# team building

test.loc[test.name.str.contains( 'team building', case=False),'New_id']=331
test.loc[test.name.str.contains( 'team-building', case=False),'New_id']=331

In [22]:
# renovation

test.loc[test.name.str.contains( 'renovat', case=False),'New_id']=22

In [23]:
# thorough cleaning

test.loc[test.name.str.contains( 'renovation cleaning', case=False),'New_id']=22
test.loc[test.name.str.contains( 'thorough', case=False),'New_id']=22

In [24]:
# tv mounting

test.loc[test.name.str.contains( 'tv mounting', case=False),'New_id']=22

In [25]:
# fillna with all the other st 

test["New_id"].fillna(test["id"],inplace=True)

In [26]:
# office and microsoft office

test.loc[test.name.str.contains( 'office', case=False),'New_id']=test.id
test.loc[test.name.str.contains( 'commercial cleaning', case=False),'New_id']=58

In [27]:
test[test.name.str.contains('office', case=False)]

,id,name,slug,created_at,updated_at,keywords,deleted_at,searchable,franchise,New_id
40,548,Aircond Installation (Office),aircond-installation-office,26:07.8,26:07.8,Aircond Installation (Office),NaN,f,NaN,548.0
44,553,Aircond Repair (Office),aircond-repair-office,03:34.2,03:34.2,Aircond Repair (Office),NaN,f,NaN,553.0
47,547,Aircond Servicing (Office),aircond-servicing-office,11:20.4,11:20.4,Aircond Servicing (Office),NaN,f,NaN,547.0
118,198,Catering for Office,catering-for-office,3/12/2015 16:21,04:46.6,Catering for Office,29/11/2016 10:19,f,NaN,198.0
159,458,"Daily Office / Commercial Cleaning (1 month, 2...",daily-office-commercial-cleaning-1-month-20-se...,8/3/2017 5:47,53:54.9,"Daily Office / Commercial Cleaning (1 month, 2...",NaN,f,NaN,58.0
160,460,"Daily Office / Commercial Cleaning (1 month, 2...",daily-office-commercial-cleaning-1-month-20-se...,10/3/2017 7:07,53:13.0,"Daily Office / Commercial Cleaning (1 month, 2...",NaN,f,NaN,58.0
228,564,Freelance Accountant (Office),freelance-accountant-office,18:37.0,18:37.0,Freelance Accountant (Office),NaN,f,NaN,564.0
230,563,Freelance Bookkeeper (Office),freelance-bookkeeper-office,41:51.5,41:51.5,Freelance Bookkeeper (Office),NaN,f,NaN,563.0
238,545,General Cleaning (Office),general-cleaning-office,48:05.4,50:03.5,General Cleaning (Office),NaN,f,NaN,545.0
399,550,Moving (Office),moving-office,08:18.6,08:18.6,Moving (Office),NaN,f,NaN,550.0
400,321,MS/Computer Office Training,ms-office,3/12/2015 16:21,08:28.0,MS Office,NaN,t,NaN,321.0
406,565,Networking - Installation / Configuration (Off...,networking-installation-configuration-office,48:07.7,48:07.7,Networking - Installation / Configuration (Off...,NaN,f,NaN,565.0
409,543,Office / Commercial Cleaning,office-commercial-cleaning,28:06.8,26:56.6,Office / Commercial Cleaning Commercial cleani...,NaN,t,NaN,58.0
410,58,Office / Commercial Cleaning Services,commercial-cleaning,1/11/2014 21:25,10:25.7,Office / Commercial Cleaning Commercial cleani...,NaN,f,NaN,58.0
411,667,Office Cleaning (Sessions),office-cleaning-sessions,58:59.1,58:59.1,Office Cleaning (Sessions),NaN,f,f,667.0
412,228,Office Supplies (Stationary),office-supplies,3/12/2015 16:21,10:30.3,Office Supplies,NaN,f,NaN,228.0
465,552,Pest Control (Office),pest-control-office,49:35.3,49:35.3,Pest Control (Office),NaN,f,NaN,552.0
489,554,Plumbing Installation (Office),plumbing-installation-office,30:44.2,30:44.2,Plumbing Installation (Office),NaN,f,NaN,554.0
491,549,Plumbing Repair (Office),plumbing-repair-office,28:48.6,28:48.6,Plumbing Repair (Office),NaN,f,NaN,549.0
534,555,Renovation (Office),renovation-office,28:04.7,28:04.7,Renovation (Office),NaN,f,NaN,555.0
604,387,Temporary Office Rental (Agency),temporary-office-rental-agency,10/12/2015 4:47,04:46.6,Temporary Office Rental (Agency) temporary of...,8/12/2016 7:59,f,NaN,387.0
608,546,Thorough Cleaning (Office),thorough-cleaning-office,54:28.6,54:28.6,Thorough Cleaning (Office),NaN,f,NaN,546.0
670,456,"Weekly Office / Commercial Cleaning (1 month, ...",weekly-office-commercial-cleaning-1-month-4-se...,8/3/2017 5:35,54:17.1,"Weekly Office / Commercial Cleaning (1 month, ...",NaN,f,NaN,58.0
671,459,"Weekly Office / Commercial Cleaning (1 month, ...",weekly-office-commercial-cleaning-1-month-4-se...,10/3/2017 7:02,53:38.8,"Weekly Office / Commercial Cleaning (1 month, ...",NaN,f,NaN,58.0
672,457,"Weekly Office / Commercial Cleaning (1 month, ...",weekly-office-commercial-cleaning-1-month-8-se...,8/3/2017 5:40,54:07.2,"Weekly Office / Commercial Cleaning (1 month, ...",NaN,f,NaN,58.0

In [28]:
test[test["id"]==630]

,id,name,slug,created_at,updated_at,keywords,deleted_at,searchable,franchise,New_id
385,630,Midea Air Conditioner Installation,midea-air-conditioner-installation,29:27.8,29:34.1,Midea Air Conditioner Installation,NaN,f,f,34.0

In [29]:
len(test[test["New_id"].isnull()])

0

In [30]:
test.to_csv('after st.csv')